

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    opacity: 0.9;
    position: fixed;
    background: black;
    z-index: 8;


    
}

nav{

        width: 100%;
       
        
 
}
nav ul{

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
 
    
}

ul li a {

    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}


ul li a:hover {

    text-decoration: none;
    color: rgb(236, 91, 72);
    letter-spacing: 1pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}

i{

    color: white;
    font-size: 25px;
    padding: 0px;
    transition: 0.7s;
}

i:hover{

    color: rgb(177, 158, 124);
    transition: 0.7s;
}


.logotype{

    padding-left: 50px;
    padding-top: 10px;
    width:35%;
    height: 90px;
}
.logo{

    width: 60%;
}



  /*____________ carte____________*/

.carte{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

img.menu{

    width: 90vh;
    padding-top: 60px;
}
/*____________ BOUTON____________*/

  .reservation button{


    width: 260px;
    margin-top: 50px;
    padding: 19px;
    margin-bottom: 40px;
    background-color: rgb(255, 212, 118);
    border: 0;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 15px;
    transition: 1s;
  

    
}

a.reserver{

    width: 260px;
    text-decoration: none;
    color: rgb(41, 41, 41);
}


.reservation button:hover{

        transition: 1s;
        transform: scale(1.1);
        text-decoration: none;
      }




  /*____________ CONTACT____________*/

.contact{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background: white;
}

.adresse{

    display: flex;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


div.adresse p {
    text-align: center;
    font-size: 14px;
    text-transform: initial;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2pt;
    padding: 10px;
    background: rgb(8, 8, 8);
    color: white;
}
footer a {

    list-style: none;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

footer a:hover{

    color: rgb(199, 177, 136);
    transition: 0.7s;
}


@media screen and (min-width: 1000px) and (max-width:1290px){


    
    nav{
    
            width: 80%;
            display: flex;
            justify-content: center;
           
            
     
    }
    nav ul{
    
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
     
        
    }
    
    ul li a {

        font-size: 13px;
    }
    
    
    ul li a:hover {
    
        text-decoration: none;
        color: rgb(236, 91, 72);
        letter-spacing: 1pt;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
    }
 
    
.logotype{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 40px;
        padding-top: 10px;
    }
.logo{

        width: 100%;
    }
}




@media screen and (min-width: 900px) and (max-width:1000px){


    
    nav{
    
            width: 80%;
            display: flex;
            justify-content: center;
           
            
     
    }
    nav ul{
    
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
     
        
    }
    
    ul li a {

        font-size: 13px;
    }
    
    
    ul li a:hover {
    
        text-decoration: none;
        color: rgb(236, 91, 72);
        letter-spacing: 1pt;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
    }
 
    
.logotype{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 40px;
        padding-top: 10px;
    }
.logo{

        width: 100%;
    }
}




@media screen and (min-width: 750px) and (max-width:1000px){


    nav{
    
            width: 80%;
            display: flex;
            justify-content: center;
           
            
     
    }
    nav ul{
    
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
     
        
    }
    
    ul li a {

        font-size: 13px;
    }
    
    
    ul li a:hover {
    
        text-decoration: none;
        color: rgb(236, 91, 72);
        letter-spacing: 1pt;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
    }
 
    
.logotype{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 40px;
        padding-top: 10px;
    }
.logo{

        width: 100%;
    }
}







@media screen and (min-width: 500px) and (max-width: 750px){

header{

        position: absolute ;
        display: flex;
        flex-direction: column;
    }
   
   
 nav ul{
    
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                text-transform: uppercase;
             
                
            }
            
ul li a {
            
                text-decoration: none;
                color: rgb(255, 255, 255);
                letter-spacing: 1pt;
                font-family: 'Montserrat', sans-serif;
                transition: 0.5s;
                padding: 90px;
                font-size: 10px;
 }
            
            
        
.logotype{

        display: flex;
        justify-content: center;
        width: 70%;        
        padding: 0px;
}


/*____________ carte____________*/

.carte{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}


  img.menu

  {

    width: 60%;
    padding-top: 240px;
  }

  /*____________ CONTACT____________*/

  .contact{

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding-top: 30px;
    background: white;
}

.adresse{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


div.adresse p {
    text-align: center;
    font-size: 14px;
    text-transform: initial;
    padding: 20px;
}
}

@media screen and (max-width: 500px){

    header{
        
        position: relative ;
        flex-direction: column;
        height: 25vh;
    
    }
    
    
    nav{
    
        padding: 10px;
    
    }
    
    
    nav ul{
    
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
             
    }
            
    ul li a {
    
                text-decoration: none;
                color: rgb(255, 255, 255);
                letter-spacing: 1pt;
                font-family: 'Montserrat', sans-serif;
                transition: 0.5s;
                font-size: 12px;
            }
    
div.logotype{
    
        width: 100%;

            }
            
.logo{
    
        width: 50%;

  }
                          
    i{
    
        padding-top: 20px;
    }
    

  /*____________ carte____________*/

  .carte{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

img.menu{

    width: 300px;
}


  /*____________footer____________*/

footer{

    width: 100%;
}

}  