

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 0.9;
  position: fixed;
  background: black;
  z-index: 8;


  
}

nav{

      width: 100%;
     
      

}
nav ul{

  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;

  
}

ul li a {

  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1pt;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
}


ul li a:hover {

  text-decoration: none;
  color: rgb(236, 91, 72);
  letter-spacing: 1pt;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
}

i{

  color: white;
  font-size: 25px;
  padding: 0px;
  transition: 0.7s;
}

i:hover{

  color: rgb(177, 158, 124);
  transition: 0.7s;
}


.logotype{

  padding-left: 50px;
  padding-top: 10px;
  width:35%;
  height: 90px;
}
.logo{

  width: 60%;
}




 /*____________ RESERVATION____________*/

.reservation{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

div.formulaire{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.unetable{

  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;

}

h2{

  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: rgb(184, 157, 117);
}

p{

  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  text-align: justify;
}




.formulaire {
    margin:10px auto;
    width: 550px;
    padding: 50px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .formulaire td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .formulaire label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  .formulaire .required{
    color:red;
  }
  .formulaire-style input{
    background: #b49679;
    padding: 8px 15px 8px 15px;
    border: none;
    color: rgb(26, 26, 26);
  }

  .formulaire .field-textarea{
    height: 100px;
  }
  .formulaire input[type=text], 
  .formulaire input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
  }
  .formulaire .long{
    width: 100%;
  }

  .error{
    color: #D8000C;
    background-color: rgb(214, 196, 196);
}

input.bouton{

  color: hsl(0, 0%, 100%);
  background-color: #474747;
  width: 140px;
  padding: 12px;
  border: 0;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-size: 12px;
  transition: 1s;
  
}

input.bouton:hover{

  color: hsl(0, 0%, 100%);
  background-color: rgb(189, 162, 121);
  
}
 /*____________ CONTACT____________*/

 .contact{

  background-color: rgb(189, 162, 121);
  height: 100%;
  display: flex;
  margin-right: 90px;
  flex-direction: column;
  padding-top: 230px;
  padding-bottom: 230px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.adresse{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 20px;
}


div.adresse p {
    text-align: center;
    font-size: 14px;
    text-transform: initial;
    padding: 20px;
    color: white;
}

/*____________ FOOTER___________*/
footer{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2pt;
  padding: 10px;
  background: rgb(61, 57, 57);
  color: white;
}

footer a {

  list-style: none;
  color: white;
  text-decoration: none;
  transition: 0.7s;
}

footer a:hover{

  color: rgb(199, 177, 136);
  transition: 0.7s;
}

  @media screen and (min-width: 750px) and (max-width:1290px){


    
    nav{
    
            width: 80%;
            display: flex;
            justify-content: center;
           
            
     
    }
    nav ul{
    
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
     
        
    }
    
    ul li a {

        font-size: 13px;
    }
    
    
    ul li a:hover {
    
        text-decoration: none;
        color: rgb(236, 91, 72);
        letter-spacing: 1pt;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
    }
 
    
.logotype{
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 40px;
        padding-top: 10px;
    }
.logo{

        width: 100%;
    }


/*____________ RESERVATION____________*/

form{

  display: flex;
  width: 130%;
  height: 100%;

}

.formulaire{

  padding: 0px;
  width: 70%;
}

.unetable{

  width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;
}
.reservation{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 150px;
}



.contact{
  width: 100%;
  height: 140%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/*____________ CONTACT____________*/

 .contact{

  background-color: rgb(189, 162, 121);
  padding: 0;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

footer{
  height: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2pt;
  padding: 10px;
  background: rgb(61, 57, 57);
  color: white;
}

footer a {

  list-style: none;
  color: white;
  text-decoration: none;
  transition: 0.7s;
}

footer a:hover{

  color: rgb(199, 177, 136);
  transition: 0.7s;
}
}

@media screen and (min-width: 500px) and (max-width: 750px){

  header{

      position: absolute ;
      display: flex;
      flex-direction: column;
  }
 
 
nav ul{
  
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              list-style: none;
              text-transform: uppercase;
           
              
          }
          
ul li a {
          
              text-decoration: none;
              color: rgb(255, 255, 255);
              letter-spacing: 1pt;
              font-family: 'Montserrat', sans-serif;
              transition: 0.5s;
              padding: 90px;
              font-size: 10px;
}
          
          
      
.logotype{

      display: flex;
      justify-content: center;
      width: 70%;        
      padding: 0px;
}

.formulaire{

  padding: 0px;
  width: 100%;
}

.unetable{

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.reservation{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 250px;
}

form{

  display: flex;
  width: 130%;

}

.contact{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

}

}



@media screen and (max-width:500px){


  header{
    
    position: relative ;
    flex-direction: column;

}


nav{

    padding: 10px;

}


nav ul{

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
         
}
        
ul li a {
        
            text-decoration: none;
            color: rgb(255, 255, 255);
            letter-spacing: 1pt;
            font-family: 'Montserrat', sans-serif;
            transition: 0.5s;
            font-size: 12px;
        }

.logotype{

            width: 100%;
        }
        
        .logo{

            width: 60%;
          }
                      
i{

    padding-top: 20px;
}



form{

  display: flex;
  width: 100%;
  height: 100%;

}

.formulaire{

  padding: 0px;
  width: 100%;
}

.unetable{

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.reservation{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}


.contact{
  width: 100%;
  height: 140%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

}