

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    position: fixed;

    
}

nav{

        width: 80%;
       
        
 
}
nav ul{

    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
 
    
}

ul li a {

    text-decoration: none;
    color: rgb(59, 59, 59);
    letter-spacing: 1pt;
}


ul li a:hover {

    text-decoration: none;
    color: rgb(190, 155, 134);
    letter-spacing: 1pt;
}


section.accueil{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(ressources/table-repas.jpg);
    background-attachment: fixed;
    background-size: cover;
}


/*____________ ACCUEIL ____________*/

.presentation{

    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

h1{

    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 40pt;
    font-family: 'Cormorant Garamond', serif;
}

p{

    letter-spacing: 1pt;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
}

/*_____________LE RESTAURANT ____________*/


section#restaurant{
   
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 239, 215);
    margin-top: 150px;
    margin-bottom: 150px;
}

.chef{
    
    width: 500px;
    height: 400px;
    
}

h2{

    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.texte{

    text-transform: none;
    text-align: justify;
    padding: 40px;
}

@media screen and (max-width: 500px){


section#restaurant{

    width: 70%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.chef{
    
    width: 70%;
    height: 70%;
    padding: 0;
    
}
}
/*____________ CARTE & MENU ____________*/


#carte{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image: url(ressources/fond.jpg);
}


.color{

    width: 50%;
}

div.menu
{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


button.menucarte{

    color: rgb(44, 44, 44);
    font-size: 18px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.8s;
    font-family: 'Cormorant Garamond', serif;
}

button.menucarte:hover{

    color: rgb(231, 179, 100);
    font-size: 18px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: scale(1.1);
    transition: 0.8s;
    font-family: 'Cormorant Garamond', serif;
}


/*____________ CARTE & MENU ____________*/

@media screen and (max-width: 800px){


#carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(ressources/fond.jpg);
}

button.menucarte{

    color: rgb(44, 44, 44);
    background: white;
    border: 0px;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px;
    transition: 0.8s;
    font-family: 'Cormorant Garamond', serif;
}


}



/*____________ Réserver ____________*/

.reservation{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.reserver{
    width: 260px;
    margin-top: 50px;
    padding: 19px;
    margin-bottom: -20px;
    background-color: rgb(255, 212, 118);
    color: rgb(41, 41, 41);
    border: 0;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 15px;
    z-index: 2;
    transition: 1s;
}

button.reserver:hover{

        transition: 1s;
        transform: scale(1.1);
      
      }


hr
{
   width: 100%;
   background: rgb(63, 63, 63);
   height: 4px;
   border: 0px
}


/*____________ galerie ____________*/

.gallery{

    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.image{

    width: 260px;
    margin-top: 50px;
    padding: 19px;
    margin-bottom: -20px;
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 15px;
    z-index: 2;

}


.galerie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    list-style: none;
    max-width: 100%;
    padding-bottom: 100px;
  }
  .galerie li {
    border: 1px solid #ccc;

  }
  .galerie li.landscape {
    grid-column-end: span 2;
  }
  .galerie li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .avis{

    background-image: url(ressources/fond.jpg);
  }


  /*____________ Témoignages ____________*/

.avis{

    display: flex;
    justify-content: center;
}



h3{

    color: white;
    font-family: 'Cormorant Garamond', serif;
}

section.avis div p{

    color: white;
    text-transform: none;
    text-align: center;
    padding: 20px;

}

.temoignage{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


footer{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2pt;
    padding: 10px;
    background: rgb(61, 57, 57);
    color: white;
}